
/* Your CSS Code here. */
.holder{
	display:grid;
	width:300px;
	height:300px;
	grid-column-gap:10px;
	grid-template-columns:100px 100px;
	grid-template-rows:100px 100px;
	grid-row-gap:20px;
}
.item{
	background-color:blue;
}